.containerHeaderItemUserDropdown {
    width: 100%;
    height: 100%;
    position: relative;
}

.userHeaderDropdown {
    right: -16px;
    top: -16px;
    position: absolute;
    display: flex;
    align-items: center;
   
}

.userNameHeaderDropdown {
    padding-right: 15px ;
    font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
text-align: right;
color: #202222;
}

.bgIconUserHeaderDropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    width: 42px;
    height: 42px;
        background-color: #44B7C7;
        user-select: none;
}

.settingsHeaderDropdown{
    padding-top: 30px;
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: #A2A2A2;
    display: flex;
    user-select: none;
    justify-content: flex-start;
    align-items: center;
    svg {
        fill: #44B7C7;
    }
    div {
        padding-left: 5px;
        cursor: pointer;
        transition: .4;
        &:hover {
            opacity: .6;
        }
        
    }
}

.itemHeaderDropdown {
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
    
    border-bottom: 1px dashed #C4C4C4;
    div {
        cursor: pointer;
        transition: .4;
        &:hover {
            opacity: .6;
        }
    }
} 

.blockLinkHeaderDropdown {
    padding-bottom: 15px;
}

.headerBlockLinkHeaderDropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.titleLinkHeaderDropdown {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    user-select: none;
    color: #A2A2A2;
    
}


.copyLinkHeaderDropdown {
    font-style: normal;
font-weight: bold;
font-size: 12px;
text-align: center;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
width: 50px;
height: 20px;

background-color: #44B7C7;
box-sizing: border-box;
border-radius: 10px;
user-select: none;
cursor: pointer;
transition: .4;
&:hover {
    opacity: .6;
}
}



.toLinkHeaderDropdown{
    width: 100%;
    background: #F5F6F8;
border-radius: 10px;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

color: #898989;
padding: 11px 0;
border: none;
display: flex;
text-align: center;
}

.changePlanHeaderDropdown{ 
    display: flex;
    justify-content: flex-end;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
text-align: right;
color: #202222;
padding: 10px 0;
border-top: 1px dashed #C4C4C4;
div {
    cursor: pointer;
    transition: .4;
    &:hover {
        opacity: .6;
    }
}
}

.btnLogoutAccountDropdown{
    position: absolute;
    right: 0;
    bottom: 0;

    font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 20px;
text-align: right;
color: #A2A2A2;
cursor: pointer;
user-select: none;
transition: .4;
&:hover {
    opacity: .6;
}
}