.wrapperModalAll {
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(62, 66, 58, 0.3);
    justify-content: center;
    display: flex;
    align-items: center;
}

.containerModalAll{
   
    max-height:  80%;
 display: flex;
   justify-content: center;
   overflow: auto;
  

   border-radius: 15px;

   .containerArticles {
       width: 100%;
   }

    
}




.bntCloseModalAll {
text-transform: uppercase;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
position: absolute;
width: 86px;
height: 42px;
right: 50px;
bottom: 25px;
background-color: #202222;
border-radius: 10px;
cursor: pointer;
user-select: none;
display: flex;
justify-content: center;
align-items: center;
transition: .4s;
&:hover {
    opacity: .6;
}
}

.sortingBlockModalAll {
    position: absolute;

    left: 50px;
    top: 25px;




}

.headerSortingBlockModalAll {
   
    background-color: #FFFFFF;
    color: #202222;
        width: 90px;
        padding: 10px;
    
    display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
cursor: pointer;
user-select: none;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
text-align: center;
}

.textSortingBlockModalAll{
    margin-right: 7px;
}

.iconDropdownSortingBlockModalAll{

    display: flex;
justify-content: center;
align-items: center;
    transition: .6s;
    &.active {
        transform: rotate(-90deg);
    }
}

.dropdownSortingBlockModalAll{
    
    
    margin-top: 5px;
    padding: 19px;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: max-content;
    border-radius: 15px;
    transition: .6s;
    &.active{
        display: none;
    }
}

.itemDropdownSortingBlockModalAll{
    border-radius: 10px ;
    padding: 15px 0;
    width: 300px;
    cursor: pointer;
    user-select: none;
    transition: .4s;
    &:hover {
        background-color: #f1f1f1;
    }

}



.checkboxItemModalAll {
    display: block;
  position: relative;
 display: flex;
 align-items: center;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

    
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    color: #202222;
  }



 

  .checkmarkModalAll {

      
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: -3px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    &.active {
        border: 1px solid #44B7C7;
    }
      
  
  }
  
  


@media screen and (max-width: 1320px){
    .containerModalAll{  
        width: 96%; 
    }

}

@media screen and (max-width: 1420px){
    .bntCloseModalAll{
        right: 10px;
    }

    .sortingBlockModalAll{
        left: 10px;
    }
}