.wrapperModalMessenger {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: rgba(62, 66, 58, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ModalMessanger{
    
    width: 295px;
    height: 600px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px;
    
    overflow-y: scroll;
    border-top: 1px dashed #C4C4C4;

}


/////////////////////////////////////
.wrapperMessenger {
    width: 100%;
    min-height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    position: relative; 
}

.containerMessenger {
    max-width: 1320px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    position: relative; 
    height: calc(100vh - 75px - 40px);
    margin: auto;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 15px;

   
}

.chatListContainer{
    width: 310px;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    position: relative;
}



.headerChatList{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: #202222;
    user-select: none;
    svg{
        padding: 0  5px ;
    }
}

.iconReceivedMessage {
    padding: 0 15px;
}

.blockChatList{
    width: 295px;
    height: calc(100% - 50px);
    overflow-y: scroll;
    border-top: 1px dashed #C4C4C4;
   
    
}

.btnOpenModallMessenger {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 20px;
    right: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44B7C7;

   }

.itemChatList {
    height: 80px;
    border-bottom: 1px dashed #C4C4C4;  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    img {
        padding: 10px;
        border-radius: 50px; 
        width: 50px;
        height: 50px;
    }
    &.active {
        background: linear-gradient(90deg, rgba(27, 185, 206, 0.55) 0%, rgba(18, 175, 196, 0) 100%);
    mix-blend-mode: normal;
    }
}

.avatarBlockItemChatList {
    margin: 0 10px;
        border-radius: 50px; 
        width: 50px;
        height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #44B7C7; 
}
.infoBlockItemChatList {
        width: calc(100% - 110px);
    .nameItemChatList{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #202222;
    
    }
    
    .lastMessageItemChatList {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 11px;
        width: 160px;
        margin-top: 11px;
        box-sizing: border-box;
        overflow: hidden;
    }

}

.dateAndQtyBlockItemChatList {
    box-sizing: border-box;
    width: 60px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: flex-end;
    .dateItemChatList{
        top: 22px;
        position: absolute;
        font-style: normal;
        font-weight: bold;
        
        font-size: 10px;
        line-height: 13px;
        color:black;
    }

    .qtyMessageItemChatList{
        position: absolute;
        bottom: 18px;
        color: #ffffff;
        box-sizing: border-box;
        font-size: 10px;
        background-color: #44B7C7;
        display: flex;
        width: 35px;
        align-items: center;
        justify-content: center;
        padding: 2px 5px;
        border-radius: 10px;
    }

}



.messagesContainer{
    width: calc(100% - 310px);
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
}


.headerMessages {
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #C4C4C4; 
    justify-content:    flex-start;
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    color: #202222;
    box-sizing: border-box;
}

.interlocutorNameHeaderMessages{
    padding-left: 5px;
    color: #44B7C7;
}


.iconSettingHeaderMessages{
    position: absolute;
    right: 0;
   
        svg {
            fill: #44B7C7;
            cursor: pointer;
            user-select: none;
            transition: .4s;
            &:hover {
             opacity: .6;
            } 
        }
}

.dropdpwnSettingHeaderMessages {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
    background-color: #ffffff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 10px;
    height: 20px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    width: 150px;
    position: absolute;
    right: calc(100% - 20px);
    transition: .4s;
            &:hover {
             color: #44B7C7;
            } 

}


.blockMessages{
    height: calc(100% - 50px - 50px);
    box-sizing: border-box;
    overflow-y: scroll;
   display: flex;
   flex-direction: column-reverse;
   
   
   
}

.messageBlockMessages {
    align-items: flex-end;
    img {
        padding: 10px;
        border-radius: 50px; 
        width: 50px;
        height: 50px;   
    }
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
    
    &.myMessage {
        flex-direction: row-reverse;
        .messageText{
            background: linear-gradient(90deg, rgba(27, 185, 206, 0.45) 10%, rgba(18, 175, 196, 0.35) 100%);
            
            
            
        }
    }
    
}



.messageText {
    max-width: 80%;
    padding: 25px;
    border: 0.3px solid #b9b9b9;
box-sizing: border-box;
border-radius: 25px;
font-family: Comfortaa;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #202222;

}



.blockInputMessages {
    padding-top: 10px;
    border-top: 1px dashed #C4C4C4; 
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;

    textarea{
        border: none;
        width: 100%;
        height: 40px;
        padding: 13px 30px 13px 15px;
        background: #F5F6F8;
        border-radius: 10px;
        box-sizing: border-box;
        resize: none;
        &:focus {
            outline: none;
        }
    }

}

.iconAttach{
    position: absolute;
    right: 40px;
    cursor: pointer;
    user-select: none;
    transition: .4s;
    &:hover {
         opacity: .6;
    } 
}

.logoWindowMessagesContainer{
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    svg {
        width: 15%;
        height: 15%;
    }
}