.loadingScreen {
    background: white;
    width: 100%;
    z-index: 10001;
    height: 100%;
    position:  fixed;
    left: 0;
    top: 0;
  
    .loading{
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #202222;
        user-select: none;
  
      svg {
        margin-bottom: 15px;
        width: 65px;
        height: 65px;
        opacity: 1;
      }
  
    }
  
  }
  