.wrapperProfileUser {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 70px ;
    
}

.containerProfileUser {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    width: 96%;
    height: 390px;
    background-color: rgb(194, 194, 194) ;
 background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
border-radius: 15px;

}


.dataProfileUser {
margin: 19px;
}



.avatarProfileUser {
    width: 260px;
    height: 260px;
border-radius: 10px;
margin-bottom: 10px;

}

.nameProfileUser{
margin-bottom: 5px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;

color: #202222;
}

.categoryProfileUser {
    
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: #202222;
margin-bottom: 15px;
}

.addressProfileUser {
    position: absolute;
    bottom: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    
    color: #202222;
}




