.wrapperCarousel {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.containerCarousel {
    margin: 70px 0;
    max-width: 1320px;
    width: 96%;
    height: 375px;
    background-color:#44B7C7;
    border-radius: 15px;
    overflow: hidden;
}

.slickDots {
    
    display: flex;
    justify-content: flex-end;
    position: absolute;
    max-width: 600px;
    width: 96%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.slickDots ul li {
    margin: 6px;
    font-size: 0;
    width: calc((100% / 4) - 12px);
    cursor: pointer;
    user-select: none;
    opacity: .4;
    &:hover {
        opacity: 1;
    }
}

.slickDots  ul .slick-active{
    opacity: 1;
   
}

.sliderSlict {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    background-color:#44B7C7;
    border-radius: 15px;
    box-sizing: border-box;
    
}



.sliderPromo {
        height: 375px;
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
} 
*:focus-visible{
    outline: none;
}

.sliderPromo {
    position: relative;
    .sliderText {
        width: 200px;
    margin: 19px;
        position: absolute;
        h1 {
        margin: 0;
        margin-bottom: 6px;
        
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        color: #202222;

        }
        p {
            margin: 0;
            
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 20px;
            color: #202222;
        }
    }
}


@media screen and (max-width: 500px){
    .containerCarousel
    {
        width: 298px;
        margin: 20px 0;
        
        
    }
}