.wrapperSignup {
    width: 100%;
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    
    }

.containerSignup{
   
    width: 100%;
    margin: 50px auto;
    max-width: 386px;
    height: auto;
    background: #FFFFFF;
    box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    position: relative;
}

.iteamFormEmail {
    padding:40px 35px 33px 35px;
}

.iteamFormCategory {
    padding: 0 35px 33px 35px;
}

.labelSettings {
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.itemFormCheckCategory{
padding:25px 35px 20px 35px;
display: flex;
justify-content: center;
flex-wrap: wrap;

label {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #44B7C7;
margin-bottom:  20px;
}

select {

    width: 100%;
    height: 37px;
    border-color: #44B7C7;
    border-radius: 12px ;  
    padding-left: 20px;
    appearance: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: black;

    outline: none;
    
}

}

.selectCateoryList {
    position: relative;
    width: 100%;
    cursor: pointer;

    
}

.selectArrow {
    position: absolute;
    top: 12px;
    transform: rotate(90deg);
    right: 10px;
    content: "";
    width: 15px;
    height: 15px;
    user-select: none;
    pointer-events: none;
    svg {
        fill: #44B7C7;
    }
           
} 




.inputWrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 19px 0;
    input {
        width: 100%;
        height: 37px;
        background: #F5F6F8;
        border-radius: 12px; 
        padding:  0 20px;

        
        font-style: normal;
        border: none;
        font-weight: 300;
        font-size: 10px;
        line-height: 11px;
        color: #202222;
        box-sizing: border-box;
        &:focus {
            outline: none;
        }
    }

}

.inputWrapperData {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 19px 0;
    input {
        width: 100%;
        height: 37px;
        background: #F5F6F8;
        border-radius: 12px; 
        padding:  0 20px;

        
        font-style: normal;
        border: none;
        font-weight: 300;
        font-size: 10px;
        line-height: 11px;
        color: #202222;
        box-sizing: border-box;
        &:focus {
            outline: none;
        }
    }

}

.inputWrapperAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 316px;
    border-radius: 12px; 
    background-color: #F5F6F8;
    overflow: hidden;
   position: relative;
   input {
    display: none;
}
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}



.titleInputWrapperAvatar  {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 11px;
    color: #202222;
    position: absolute;
    left: 19px;
    top: 19px;
    user-select: none;
    opacity: .6;
}

.blockIconsInputAvatar {
    position: absolute;
    bottom: 19px;
    right: 14px;
    display: flex;
    justify-content: center;
}

.bgItemIconInputAvatar {
    margin: 0 5px;  
    width: 42px;
    height: 42px;
    background: #202222;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: .4s;
    &:hover {
        opacity: .7;
    }

    svg {
    fill: white;
    }
}

.inputWrapperNotePassword {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;

    input {

        width: 100%;
        height: 37px;
        background: #F5F6F8;
        border-radius: 12px; 
        padding-left: 20px;

        
        font-style: normal;
        border: none;
        font-weight: 300;
        font-size: 10px;
        line-height: 11px;
        color: #202222;
        box-sizing: border-box;
        &:focus {
            outline: none;
        }
    }

}


.iteamTab {
display: flex;
justify-content: center;
margin-top: 43px;
cursor: pointer;
user-select: none;

font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #44B7C7;


.btnIteamTab {
justify-content:center;
width: 114px;
padding: 6.5px 0;
border-radius: 20px;
border: 1.5px solid #ffffff;
margin: 0 5px;
transition: .4s;
 &:hover {
     opacity: .7;
 }
}

.btnIteamTabActive { 
    justify-content:center;
    width: 114px;
    padding: 6.5px 0;
    border-radius: 20px;
    border: 1.5px solid #44B7C7;
    margin: 0 5px;
    transition: .4s;
 &:hover {
     opacity: .7;
 }
}


}

.signupGoogle {
    height: 35px;
display: flex;
justify-content: center;
background: #44B7C7;
border-radius: 12px;

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
cursor: pointer;
user-select: none;
margin: 0 0 9px 0;
color: #FFFFFF;
    &:hover {
        opacity: .7;
    }
    svg{
         padding: 5.2px;
         padding-right: 15px;
    }
 div {
     padding: 10px 0;
 }
}


.or {
    
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 20px;
text-align: center;
user-select: none;
cursor: auto;
margin-bottom: 15px;
color: #44B7C7;
}



.btnNext {
    text-decoration: none;
margin: 27px auto 0 auto;
width: 114px;
padding: 6.5px 0;

font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: #A2A2A2;
border: 1.5px solid #A2A2A2;
border-radius: 20px;

user-select: none;
}

.btnNext.active {
   
color: #FFFFFF;
background-color: #44B7C7;
border: 1.5px solid #44B7C7;
border-radius: 20px;
cursor: pointer;
&:hover {
    opacity: .7;
}
}

.btnFinish {
    text-decoration: none;
margin: 27px auto 0 auto;
width: 114px;
padding: 6.5px 0;

font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: #A2A2A2;
border: 1.5px solid #A2A2A2;
border-radius: 20px;

user-select: none;
}

.btnFinish.active {
   
color: #FFFFFF;
background-color: #44B7C7;
border: 1.5px solid #44B7C7;
border-radius: 20px;
cursor: pointer;
&:hover {
    opacity: .7;
}
}

.notePassword {


font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 11px;
margin: 5px 12px 7px 12px;

color: #44B7C7;

}
  

@media screen and (max-height: 300px) {
    .wrapperSignup {
        margin: 50px 0;
    }
  }