.wrapperFooter {
    width: 100%;
    background-color: #ffffff ;
    

}


.containerFooter {
width: 96%;
max-width: 1200px;
display: flex;

justify-content: space-between;
margin: 0 auto;



}

.boxFooter {
    width: calc(100% / 3);
    padding:  38px 0 ;
}

.boxFooterTitle {

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: #44B7C7;
padding-bottom: 23px;

}

.boxFooterItem{
    text-decoration: none;
margin-bottom: 13px;

display: flex;
justify-content: flex-start;
align-items: center;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #898989;

svg {
    margin-right: 9px;
    cursor: pointer;
    user-select: none;
}
   

    a {
        text-decoration: none;
        
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 13px;
        color: #898989;
        cursor: pointer; 
    }
}




@media screen and (max-width: 750px){
    
    .containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }


    .boxFooter {
        width: 150px;
        padding:  38px 0 0 0;
        margin: 0 auto;
    }

  }
