

.containerItemProfessional {
    margin: 19px;
    position: relative;
    height: calc(390px - 38px);
}

.navItemProfessional {
    right: 13px;
    top: 13px;
    position: absolute;
    
}

.navMessagesItemProfessional {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
    width: 32px;
height: 32px;
border-radius: 50%;
background: #FFFFFF;
box-shadow: -1px -0.5px 2px rgba(255, 255, 255, 0.4), 0.5px 1px 2px rgba(0, 0, 0, 0.4);
cursor: pointer ;
user-select: none;
transition: .4s;
&:hover {
    transform: scale(1.18);
    
}

}

.navFavoritesItemProfessional {
    cursor: pointer ;
user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
height: 32px;
border-radius: 50%;
background: #FFFFFF;
box-shadow: -1px -0.5px 2px rgba(255, 255, 255, 0.4), 0.5px 1px 2px rgba(0, 0, 0, 0.4);
transition: .4s;
&:hover {
    transform: scale(1.18);
}
}

.avatarItemProfessional {
    
    width: 100%;
    cursor: pointer;
    height: 260px;
    object-fit: cover;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.42) 16.67%, rgba(255, 255, 255, 0.18) 31.77%, rgba(255, 255, 255, 0) 46.88%);
border-radius: 10px;
cursor: pointer;
user-select: none;
background-color: #44B7C7;

}

.infoItemProfessional {
    position: relative;
    margin-top: 17px;
    height: 71px;
}

.nameItemProfessional {
    cursor: pointer;

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
margin-bottom: 2px;

color: #000000;
}

.companyItemProfessional {

font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
margin-bottom: 17px;
color: #000000;
}

.addressItemProfessional {
    
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #202222;   
}

.subscriptionItemProfessional {
    
   
font-style: normal;
font-weight: bold;
font-size: 12px;
width: 36px;
height: 17px;
display: flex;
justify-content: center;
align-items: center;
background-color:#44B7C7;
border-radius: 27.5px;
color: #F5F6F8;
position: absolute;
right: 0;
top: 0;

}

.statusItemProfessional {
    
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: -2px;
    color: #44B7C7;

    &.active{
        color: #D60000;
    }
}