.wrapperProfessionals {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.containerProfessionals {
    margin-bottom: 70px;
    max-width: 1320px;
    width: 96%;
    display: flex;
    justify-content: flex-start;
}



.wrapperItemProfessional {
    background-color: white;
    border-radius: 15px;
    width: calc((100% - 28%)/3);
    margin-left:  20px;
    max-width: 298px;
    min-width: 228px;
    

}
 




@media screen and (max-width: 1024px){

    .wrapperItemProfessional{
        width: calc((100% - 28% - 40px)/2);
    }
    
    .wrapperItemProfessional:nth-child(n+4) {
        display: none; 
    }
}

@media screen and (max-width: 750px){

    .wrapperItemProfessional{
        width: calc(100% - 28% - 40px);

    }
    
    .wrapperItemProfessional:nth-child(n+3) {
        display: none; 
    }
}


@media screen and (max-width: 500px){

    .containerProfessionals {
        width: 298px;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    
    }

    .wrapperItemProfessional {
        width: 100%;
        margin-left:  0px;
    }

    
}