.wrapperListenToPodcast {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.containerListenToPodcast{
    margin-bottom: 70px;
    max-width: 1320px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.MainBtnMore{
width: 76.8px;
height: 34px;
position: absolute;
right: 0;
bottom: 0;
font-family: Comfortaa;
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
background: #44B7C7;
border-radius: 10px;
color: #FFFFFF;
text-transform: uppercase;
cursor: pointer;
user-select: none;
display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
 &:Hover {
     opacity: .6;
 }
}

.wrapperItemPodcast{
    margin-bottom: 52px;
    background-color: white;
    border-radius: 15px;
    width: calc((100% - 20px )/2);
}





@media screen and (max-width: 975px){
    .wrapperItemPodcast {
        width: 100%;
    }
    .wrapperItemPodcast:nth-child(n+2) {
        display: none;
        }
}


@media screen and (max-width: 500px){
    
   
   

    .wrapperItemPodcast {
        width: 298px;
        
 
    }

    .containerListenToPodcast{
        justify-content: center;
        margin: 20px 0 20px 0;
       
    }

    
}