.wrapperItemStatistics {
    width: 100%;

}

.containerItemStatistics {
    display: flex;
    justify-content: space-between;
font-style: normal;
font-weight: bold;
font-size: 14px;


color: #44B7C7;
}


.ItemRepost {
    cursor: pointer;
    margin-right: 30px;
    transition: .4s ;
    
    svg {
        display: flex;
        &:hover {
            fill: #44B7C7;
         }
    }
}


.blockStatistics {
    display: flex;
    justify-content: flex-end;
    
}

.itemStatistics{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin: 0 7px;
        display: flex;
        
    } 

}
.qtyItemStatistics {
    display: flex;
    

}




.itemStatistics:last-child {
    margin-left: 25px;
}