.wrapperOpenAll {
    max-width: 367px;
    min-width: 207px;
    width: 28%;
    
    
}

.containerOpenAll {
    position: relative;
}

.bgOpenAllImg {
font-size: 0;
height: 390px;

background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
border-radius: 15px;
 width: 100%;
background-image: url(./../../assets/bgopenall.png) ;
}

.openAllTitle {
    left: 20px;
    top: 20px;
    position: absolute;

font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 22px;

color: #FFFFFF;
}

.openAllBtn {
    position: absolute;
    width: 76px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 19px;
    background: #FFFFFF;
    border-radius: 10px;
    left: 20px;
    user-select: none;
    cursor: pointer;
    
    &:hover {
        opacity: .7;
    }

    
font-style: normal;
font-weight: bold;
font-size: 16px;

text-align: center;

color: #202222;
}

@media screen and (max-width: 1024px){

    .wrapperOpenAll {
        max-width: 367px;
        min-width: 238px;
        width: 32%;

    }

    .openAllTitle {
        font-size: 16px;
        left: 15px;
        top: 15px;
        width: 190px;
            }
}

@media screen and (max-width: 750px){

    .wrapperOpenAll {
        max-width: 367px;
        min-width: 228px;
        width: 50%;
        
    }
    
    
    
    
}


@media screen and (max-width: 500px){

    .wrapperOpenAll {
        width: 100%;
        padding-bottom: 10px;

    }

    .bgOpenAllImg {
        
        height: 300px;

    }


}
    
    
