.achievementsBlockProfileUser {
width: 290px;
position: absolute;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    &.active {
        backdrop-filter: blur(2.5px);
        z-index: 10;
    }
}



.ItemAchievementProfileUser {
    width: 43px;
    height: 43px;
    margin: 7.5px;
    box-sizing: border-box;
    background: #FFFFFF;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
user-select: none;
z-index: 1000;

flex-wrap: wrap;
position: relative;
&.active {
 z-index: 1001;
}
}




.iconAchievementProfileUser {
    
width: 33px;
border-radius: 10px;
height: 33px;
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
cursor: pointer;
z-index: 1;

}

.textAchievementProfileUser {
    padding: 10px 10px 25px 10px;
    box-sizing: border-box;
    position: absolute;
width: 275px;
min-height: 86px;
background: #FFFFFF;
z-index: 2;
border-radius: 15px;
bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 10px));
}

.titleAchievementProfileUser{
    font-style: normal;
    padding-bottom: 5px;
font-weight: bold;
font-size: 11px;
line-height: 13px;

color: #202222;

    
}

.descriptionAchievementProfileUser {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #202222;
}

.dateAchievementProfileUser {

    position: absolute;
    right: 10px;
    bottom: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color:  #202222;
    opacity: .6;
}


.bntAchievementsProfileUser {
    width: 43px;
    height: 43px;
    margin: 7.5px;
    background: black;
    border-radius: 15px;
    font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
user-select: none;
z-index: 1000;
transition: .4s;
&:hover {
    opacity: .6;
}
&.disable {
    background-color: #44B7C7;
    color:  #44B7C7;
    opacity: 1;
    cursor: auto;
}
}

@media screen and (max-width: 950px){ 
    .achievementsBlockProfileUser {
        
        left: calc(100% - 10px);
      
        transform: translateX(-100%);
    }
}


@media screen and (max-width: 650px){ 
    .achievementsBlockProfileUser {
        display: none;
    }
}
