.wrapperLogin {
    width: 100%;
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    
    }

.containerLogin { 
 width: 100%;
margin: auto;
max-width: 386px;
height: 466px;
background: #FFFFFF;
box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.08);
border-radius: 15px;
position: relative;
}



.iteamForm {
    padding:40px 35px 60px 35px;
}



.inputWrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 19px 0;
    input {
        width: 100%;
        height: 37px;
        background: #F5F6F8;
        border-radius: 12px; 
        padding: 0 20px;

        
        font-style: normal;
        border: none;
        font-weight: 300;
        font-size: 10px;
        line-height: 11px;
        color: #202222;
        box-sizing: border-box;
        &:focus {
            outline: none;
        }
    }

}


.iteamTab {
display: flex;
justify-content: center;
margin-top: 43px;
cursor: pointer;
user-select: none;

font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #44B7C7;


.btnIteamTab {
justify-content:center;
width: 114px;
padding: 6.5px 0;
margin: 0 5px;
border-radius: 20px;
border: 1.5px solid #ffffff;
transition: .4s;
 &:hover {
     opacity: .7;
 }
}

.btnIteamTabActive { 
    justify-content:center;
    width: 114px;
    margin: 0 5px;
    padding: 6.5px 0;
    border-radius: 20px;
    border: 1.5px solid #44B7C7;
    transition: .4s;
 &:hover {
     opacity: .7;
 }
}


}

.signupGoogle {
    height: 35px;
display: flex;
justify-content: center;
background: #44B7C7;
border-radius: 12px;

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
cursor: pointer;
user-select: none;
margin: 0 0 9px 0;
color: #FFFFFF;
    &:hover {
        opacity: .7;
    }
    svg{
         padding: 5.2px;
         padding-right: 15px;
    }
 div {
     padding: 10px 0;
 }
}


.or {
    
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 20px;
text-align: center;
user-select: none;
cursor: auto;
margin-bottom: 15px;
color: #44B7C7;
}


.btnLogin {
    margin: 45px auto 0 auto;
width: 114px;
height: 36px;
display: flex;
align-items: center;
justify-content: center;
border: 1.5px solid #44B7C7;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
background-color: #44B7C7;
border-radius: 20px;
user-select: none;
cursor: pointer;
&:hover {
    opacity: .7;
}
}

.forgotPassword {
    position: absolute;
    margin: auto;

    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 11px;
    text-align: right;
    color: #44B7C7;
    transition: .6s;
    cursor: pointer;
    bottom: 20px;
    right: 35px;
    
    &:hover {
        opacity: .7;
    }
    
}

/////////////////////////////////////////////////////////

.checkboxItem {
    display: block;
  position: relative;
  padding-top: 9px;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

    
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    color: #202222;
  }

  .checkboxItem input {
      display: none;
  }
  .checkmark {
    border-radius: 50%;
    position: absolute;
    left: 9px;
    top: 5px;
    height: 18px;
    width: 18px;
    background-color: #eee;
      &::before{

        content: '';
        width: 35px;
        height: 35px;
        border-radius: 12px;
        position: absolute;
        background-color: #F5F6F8;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::after{
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        
        position: absolute;
        background-color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }
  

  
  
  .checkboxItem input:checked ~ .checkmark {
    &::before{
        content: '';
        width: 35px;
        height: 35px;
        border-radius: 12px;
        position: absolute;
        background-color: #F5F6F8;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::after{
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        background-color: #44B7C7;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }
  

  
  
  
  @media screen and (max-height: 300px) {
    .wrapperLogin {
        margin: 50px 0;
    }
  }